<mat-card>
  <mat-card-content>

    <h2> Forgot Password</h2>
    <form [formGroup]="forgotForm" (ngSubmit)="send()">


      <mat-form-field class="full-width-input">
      <input matInput formControlName="email"
             type="email"
             required
             placeholder="Email">
      </mat-form-field>
      <button mat-raised-button color="primary"> Send me an email </button>

    </form>
  </mat-card-content>
</mat-card>
