<ul>
<li *ngFor="let user of users; let i = index;">
  <mat-card>

    <mat-card-title>
      {{user.firstName}} {{user.lastName}}
    </mat-card-title>

    <mat-card-content>
      {{user.email}}
    </mat-card-content>

    <mat-card-subtitle>
     {{user.roles}}
    </mat-card-subtitle>


  </mat-card>
</li>
</ul>
