<mat-card >
  <mat-card-content>
    <h2> Restore password</h2>
    <form [formGroup]="restoreForm" (ngSubmit)="restore()">

      <mat-error *ngIf="restoreError!=''">
        {{restoreError}}
      </mat-error>

      <mat-form-field class="full-width-input">
        <input matInput formControlName="email"
              type="email"
              required
              placeholder="Email">
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput formControlName="password"
               type="password"
               required
               placeholder="New password">
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput formControlName="confirmPassword"
                 type="password"
                 required
                 placeholder="Confirm Password">
          </mat-form-field>

          <mat-form-field class="full-width-input">
            <input matInput formControlName="token"
                   type="text"
                   required
                   placeholder="Token">
            </mat-form-field>

        <button mat-raised-button color="primary"> Login </button>

    </form>
  </mat-card-content>
  </mat-card>
