<div class="main">
  <div class="welcome">
    <mat-card>
      <mat-card-title>
        Welcome to Filery!
      </mat-card-title>
      <mat-card-content>
        File sharing has never been easier.
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color='primary' routerLink="/signup">SIGN UP</button>
      </mat-card-actions>
      </mat-card>
  </div>


</div>
