.main{
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('../../../assets/pexels-mike-1181772..jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  background-repeat: no-repeat;
}
.welcome{
  width: 600px;
  margin: auto;
  padding-top: 10em;

}
mat-card{
  padding-top: 3em;
  color: white;
  height: 15em;
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
  box-shadow: none;;
}

mat-card-title{
  font-size: 2.5em;
}
mat-card-content{
  padding-top: 2em;
  font-size: 1.5em;
}
button{

  width: 70%
}

mat-card-actions{
  margin-top: 3em;
}
