<mat-toolbar color='primary' class="exp-toolbar">

  <span *ngIf="!isAuth"><a routerLink="/"><img src="../assets/logo_transparent.png" class = "logo" alt="Filery" ></a></span>
  <span *ngIf="isAuth"><a routerLink="/files"><img src="../assets/logo_transparent.png" class = "logo" alt="Filery"></a></span>

  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-button routerLink="/signin" *ngIf="!isAuth">SIGN IN</button>
    <button mat-stroked-button routerLink="/signup" *ngIf="!isAuth">SIGN UP</button>

    <button class="menu-ico-but" mat-icon-button *ngIf="isAuth" [matMenuTriggerFor]="menu">
      <mat-icon viewBox="0 0 200 100" width="200" height="100"class="menu-ico">account_circle</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <div mat-menu-item class = "menu-it">{{login}}</div>
      <button *ngIf="isAdmin" class = "menu-it" mat-menu-item routerLink="/users">
        <span>Users</span>
      </button>
      <button *ngIf="isAdmin" class = "menu-it" mat-menu-item routerLink="/roles">
        <span>Roles</span>
      </button>
      <button class = "menu-it" mat-menu-item routerLink="/edit-profile">
        <span>Edit profile</span>
      </button>
      <button class = "menu-it" mat-menu-item color="warn" (click)='logout()'>
        <span>LOGOUT</span>
      </button>
    </mat-menu>
  </div>

</mat-toolbar>

<div class="main-page">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  © Copyright 2020 - All rights reserved. Made by <a class="mail" href="mailto:kalanimaxim@gmail.com">Maksym Kalani</a>
</footer>
