.logo{
  width: 9em;
  padding-top: 0.5em;
}

.menu-ico-but{
  width: 200;
  height: 200;
  font-size: larger;
}

.main-page{

  height: auto;
}

.exp-toolbar{
  align-items: center;
  justify-content: space-between;
  height: 5em;
}
mat-stroked-button{
  color:"accent";
}
.footer {
  background-color: #9370DB;
  padding-top: 30px;
  padding-bottom: 40px;
  border-top: 1px solid #9370DB;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  color: white;
}

a {
  color: grey;
}
.mail{
  color: white;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
undefined {
  flex: 1;
}

body, html, app-root {
  height: 100%;
}

app-root{
  display: flex;
  flex-flow: column;
}

router-outlet{
  height: 100%;
}
