
<ul style="list-style-type: none;">
  <mat-card style="text-align: center;">
    <mat-card-content>
        <ul>
            <li *ngFor="let file of filesUpload">
                <mat-progress-bar [value]="fileUpload.progress"></mat-progress-bar>
                <span id="file-label">

                </span>
            </li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn" (click)="onClick()">
            <mat-icon>file_upload</mat-icon>
            Upload
        </button>
    </mat-card-actions>
  </mat-card>
  <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" style="display:none;" />

  <ng-container *ngFor="let file of files; let i = index;">
    <mat-card>
      <mat-card-title>
        {{file.name}}{{file.extension}}
      </mat-card-title>

      <mat-card-content>

      </mat-card-content>

      <mat-card-subtitle>
        {{file.size | filesize}}
      </mat-card-subtitle>

      <mat-card-actions>
        <a mat-raised-button color="primary" target="_blank" href="{{path + file.id}}"> DOWNLOAD </a>
        <button mat-raised-button color="primary" [cdkCopyToClipboard]="path + file.id">COPY SHARE LINK TO CLIPBOARD</button>
        <button mat-raised-button color="warn" (click)="delete(file.id)">DELETE</button>
        <mat-slide-toggle
          class="example-margin"
          [color]=""
          [checked]="0"
          [disabled]="">
          Sharable
        </mat-slide-toggle>

      </mat-card-actions>

    </mat-card>
  </ng-container>
  <mat-paginator [length]="this.files.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 25]">
  </mat-paginator>
</ul>
