
  <mat-card>
    <mat-card-content>
      <h2> Sign Up</h2>
      <form [formGroup]="signupForm" (ngSubmit)="register()">
        <mat-error *ngIf="registerError!=''">
          {{registerError}}
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput formControlName="firstName"
                 type="text"
                 required
                 placeholder="First Name">
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="lastName"
                   type="text"
                   required
                   placeholder="Last Name">
            </mat-form-field>
        <mat-form-field class="full-width-input">
        <input matInput formControlName="email"
               type="email"
               required
               placeholder="Email">
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput formControlName="password"
                 type="password"
                 required
                 placeholder="Password">
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput formControlName="confirmPassword"
                   type="password"
                   required
                   placeholder="Confirm Password">
            </mat-form-field>
            <a routerLink="/signin">I already have an account</a><br>
          <button mat-raised-button color="primary"> Register </button>
      </form>
    </mat-card-content>
    </mat-card>
