<mat-card >
  <mat-card-content>
    <h2> Sign In</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">

      <mat-error *ngIf="loginError!=''">
        {{loginError}}
      </mat-error>

      <mat-form-field class="full-width-input">
        <input matInput formControlName="email"
              type="email"
              required
              placeholder="Email">
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput formControlName="password"
               type="password"
               required
               placeholder="Password">
        </mat-form-field>
        <a routerLink="/forgot-password">Forgot password?</a><br>
        <button mat-raised-button color="primary"> Login </button>

    </form>
  </mat-card-content>
  </mat-card>
